{% extends 'header.html' %}
{% block content %}
<h2>My Publications</h2>
<h3>Previous</h3>
<p>PostWork - A scalable, peer-to-peer, pull-based work allocation platform</p>
<a href="https://postwork.vercel.app/">Link</a> <span>- maryann.biaggioli@astarconsulting.com/Test1234!</span>
<h3>Module 1</h3>
<h4></h4>
<p>Personal Website - Randy's World - A simple web application about me.</p>
<a href="https://github.com/randyselimi/jhu_software_concepts/tree/main/module_1">Link</a> <span>- no login needed</span>
{% endblock content %}

